Repository Ayala0717/rickandmorty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

feat: pre commit has been aded
  .husky/pre-commit
Due: prettier --check

feat: login and home views has been added
  .lintstagedrc
  src/App.css
  src/App.tsx
  src/api/characters.ts
  src/api/common.ts
  src/types/models/characters.ts
  src/utils/array.ts
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: eslint, stylelint, prettier --check

feat: dialog has been added
  package.json
  src/components/box/dialog.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/form.tsx
  src/components/ui/scroll-area.tsx
  src/views/home/index.tsx
Due: eslint, prettier --check

style: changed labels and home added sticky properties
  src/App.tsx
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: eslint, prettier --check

feat: replaced content to readme md
  README.md
Due: prettier --check

feat(input): prevent char validator has been added
  src/components/ui/input.tsx
Due: eslint, prettier --check

feat: added new features
  package.json
  src/App.tsx
  src/components/error-boundary/index.tsx
  src/hooks/useApi.tsx
  src/routes/route.tsx
  src/store/index.ts
  src/types/common/index.tsx
  src/utils/array.ts
  src/views/error-page/index.tsx
  src/views/home/index.tsx
  src/views/index.tsx
Due: eslint, prettier --check

fix: infinite looping in index custom hook
  src/hooks/useApi.tsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.css
  prettier --check: any of: *
